.logins{
    max-width: 600px;
    position: relative;
    left: 15px;
    margin: 5px
    float: right;
    display: inherit;
}

.logouts{
    max-width: 600px;
    position: relative;
    left: 15px;
    margin: 5px
    float: right;
    display: none;
}

.viewTags{
    position: relative;
    display: none;
}

.userLoginDetails {
    max-width: 600px;
    position: relative;
    left: 15px;
    margin: 5px
    float: right;
    display: none;
}

.userCreateDetails{
    max-width: 600px;
    position: relative;
    left: 15px;
    margin: 5px
    float: right;
    display: none;
}

.everything{
    max-width: 600px;
    position: relative;
    left: 15px;
    margin: 5px
    float: right;
    display: inherit;
}